.row {
    display: flex;
}

#container {
    width: 600px;
    height: 600px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.buttons,
.fakeButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 35px;
    gap: 10px;
    align-self: center;
    text-align: center;

    /* Centers everything horizontally */
    width: 160px;        
}

button {
    padding: 20px;
    border: gray 2px solid;
    border-radius: 5%;
    font-size: 18px;
    color: black;
}

button:hover {
    opacity: .5;
    cursor: pointer;
}

input:hover {
    cursor: pointer;
}

.active {
    background-color: black;
    color: white;
    border: 2px solid darkgrey;
    transform: scale(1.1);
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    display: flex;
    justify-content: center;
    margin: 0px;
    /* background-color: lightgrey; */
    background-color: white;
}

#bottom-side {
    display: flex;
}

#top-side {
    padding: 40px 0 40px 0;
}

h1 {
    font-size: 40px;
}
